@{
    ViewData["Title"] = "Admin Anasayfa";
}

<p class="alert alert-danger">
    <b>
        Not :
    </b>
    .Net Core da Area altında çalışan controller lara [Area("admin")] diye belirtmek zorundayız aksi taktirde hiç hata olmasa da ekran 404 not found hatası verir!
</p>