@model IEnumerable<Product>

@foreach (var item in Model.Where(x => x.IsActive))
{
    <div class="col-3">
        <a href="/Products/Detail/@item?.Id" class="text-decoration-none">
            <div class="card shadow-sm">
                <div class="image-container d-flex justify-content-center align-items-center" style="width: 350px; height: 350px; overflow: hidden;">
                    <img src="/Images/@item.Image" style="width: 80%; height: 80%; object-fit: cover;" />
                </div>
                <div class="card-body">
                    <p class="card-text">
                        @item.Name
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">@item.Price</small>
                    </div>
                </div>
            </div>
        </a>
    </div>
}
