@using ECommorceProje.ExtensionMethods
<header id="header">
    <div id="header-wrap">
        <nav class="primary-nav padding-small">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-2 col-md-2">
                        <div class="main-logo">
                            <a href="/">
                                <img src="~/homepage/images/main-logo.png" />
                            </a>
                        </div>
                    </div>
                    <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                        <ul class="menu-list" style="display: flex;">
                            <li class="menu-item has-sub">
                                <div class="item-anchor d-flex align-item-center" data-effect="Home">
                                    <a href="/">Ana Sayfa</a>
                                </div>
                            </li>                            
                                @await Component.InvokeAsync("Categories")                                                   
                          
                            <li>
                                <div class="item-anchor" data-effect="About">
                                    <a href="/hakkimizda">Hakkımızda</a>
                                </div>
                            </li>
                            <li>
                                <div class="item-anchor" data-effect="Contact">
                                    <a href="/iletisim">İletişim</a>
                                </div>
                            </li>
                            <li>
                                <div class="text-end d-flex align-items-center">
                                    <a asp-controller="Account" asp-action="Login" class="me-3">
                                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                                        <span>Giriş-Çıkış Yap</span>
                                    </a>
                                    <a asp-controller="Account" asp-action="Register">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>Kayıt Ol</span>
                                    </a>
                                </div>

                            </li>
                            <li>
                                <form asp-controller="Products" asp-action="Search" method="get" class="col-5 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                                    <input name="q" type="search" class="form-control form-control-dark" placeholder="Ürün, Kategori veya Marka Ara..." aria-label="Search">
                                </form>
                            <li>
                                <div class="dropdown" style="margin-top: -20px;">
                                    <!-- Sepet div'i -->
                                        @{
                                            Cart cart = Context.Session.GetJson<Cart>("Cart");
                                            if (cart != null)
                                            {
                                            <div class="btn-group">
                                                <!-- Düğmelerin grubunu oluşturmak için -->
                                                <a class="btn btn-light me-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi bi-cart-fill me-1" aria-hidden="true" style="font-size: 2rem;"></i> <!-- Sepet simgesine boyut ekle -->
                                                    <span class="badge bg-dark text-white ms-1 rounded-pill" style="font-size: 1.250rem;">@cart.Products.Count</span> <!-- Sayıya boyut ekle -->
                                                </a>
                                                <ul class="dropdown-menu">
                                                        @foreach (var item in cart.Products)
                                                        {
                                                        <li>
                                                            <a class="dropdown-item" href="/Products/Detail/@item.Product.Id">
                                                                <img src="/Images/@item.Product.Image" alt="" width="50" />
                                                                    @item.Product.Name
                                                            </a>
                                                        </li>
                                                        }
                                                    <li class="text-center mt-2"><a class="btn btn-success" asp-controller="Cart" asp-action="Index">Sepete Git</a></li>
                                                </ul>
                                            </div>
                                            }
                                            else
                                            {
                                            <a class="btn btn-light btn-sm me-2" href="/Cart">
                                                <i class="bi bi-cart-fill me-1" aria-hidden="true" style="font-size: 2rem;"></i> <!-- Sepet simgesine boyut ekle -->
                                                <span class="badge bg-primary text-white ms-1 rounded-pill" style="font-size: 1.250rem;">0</span> <!-- Sayıya boyut ekle -->
                                            </a>
                                            }
                                        }
                                </div>


                                
                            </li>
                            
                        </ul>
                    </div>
                    <hr />
                </div>
                
            </div>
           
        </nav>
    </div>
   
</header>

