<footer id="footer">
    <div class="container">
        <div class="footer-menu-list">
            <div class="row d-flex flex-wrap justify-content-between">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-menu">
                        <h5 class="widget-title">Ultras</h5>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a href="/hakkimizda">Hakkımızda</a>
                            </li>
                            <li class="menu-item">
                                <a href="/iletisim">İletişim </a>
                            </li>                           
                          
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-menu">
                        <h5 class="widget-title">İletişime Geç</h5>
                        <p>
                           Herhangi bir Sorunuz veya Öneriniz Varmı? <a href="/iletisim" class="email">ourservices@ultras.com</a>
                        </p>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-menu">
                        <h5 class="widget-title">Öncü 2024</h5>
                        <p>"Stil, en karışık şeyleri en kolay yoldan anlatmaktır."</p>
                        <div class="social-links">
                            <ul class="d-flex list-unstyled">
                                <li>
                                    <a href="https://tr-tr.facebook.com/login/device-based/regular/login/?login_attempt=1">
                                        <i class="icon icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/i/flow/login">
                                        <i class="icon icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/">
                                        <i class="icon icon-youtube-play"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://squareup.com/help/us/en/article/5062-sign-in-and-out-of-square-point-of-sale">
                                        <i class="icon icon-behance-square"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</footer>

<div id="footer-bottom">
    <div class="container">
        <div class="d-flex align-items-center flex-wrap justify-content-between">
            <div class="copyright">
               
            </div>
            <div class="payment-method">
                <p>Ödeme Yöntemleri    : </p>
                <div class="card-wrap">
                    <img src="~/homepage/images/visa-icon.jpg" />
                    <img src="~/homepage/images/mastercard.png" alt="mastercard">
                    <img src="~/homepage/images/american-express.jpg" alt="american-express">
                </div>
            </div>
        </div>
    </div>
</div>