@{
    ViewBag.Title = "Hakkımızda";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <div>
        “Stil sahibi olmak için buradayız.”
        <br /><br />
        2016 yılında moda blog sayfası olarak yola çıkan Ultras, hızla ilerleyen bir moda blog sayfasıdır. Misyonu gereği tüm dünyada özellikle bayanlar tarafından rağbet gören konularda bloglar yayınlamaktadır. Moda dünyasından güncel haberleri, modelleri, kombinleri, elbiseleri, kreasyonları yayınlayan, örnek resimler ve öneriler ile moda sever insanlara ulaşmayı hedefleyen bir blog sitesidir. Günlük olarak yapılan çalışmalar ve gündeme dair haberleri sizlere ulaştırmaya çalışmaktadır.

        Moda, kişisel bakım, güncel konular hakkında eğitici ve öğretici blog yazıları sayesinde ilgi odağı olan abiyecin birçok bayana yol göstermektedir.  İnstargram, facebook gibi sosyal medya kanallarında da boy göstermeye devam etmektedir.  Her geçen gün daha fazla insana ulaşan ve bu amaç için her geçen gün çalışan bir blog sayfasıdır. Kişisel konularda da yol gösterici olarak hayatınızda yer etmeye çalışan abiyecin, kendi bünyesinde bir numara olmak için ilerlemeye devam etmekte.
        <br /><br />
        
    </div>
</main>