@{
    ViewBag.Title = "HAKKIMIZDA";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <div>
        Infotech Academy, alanında aktif saha tecrübesi bulunan uzman eğitmenleri ile birlikte, öğreneni merkeze alan yaklaşımı ile uygulamaya yönelik en güncel bilişim eğitim hizmetleri sunmaktadır.
        <br /><br />
        Bilişim sektöründeki proje geliştirme deneyimi ve tecrübemizle, kaliteli eğitim, profesyonel kadro ve özgün eğitim içerği ile her zaman İŞ'e yarayan eğitimler ve ülkemiz bilişim ekosistemini büyütmeye odaklanan bir anlayış ile ilerlemekteyiz.
        <br /><br />
        Eğitimler sadece teori içermez. İş hayatından çokça yaşanmış örnek vakalar üzerinden sonuç almaya, yetenek geliştirmeye ve deneyimi artırmaya yöneliktir.
        <br /><br />
        Yaşınız, eğitiminiz, mesleğiniz ve bilgi birikiminiz ne olursa olsun, uzun yıllara dayanan eğitim tecrübesine sahip Infotech Academy ile bilişim alanında uzmanlaşabilir ve bilişim sektöründe çok başarılı bir kariyere sahip olabilirsiniz. Uluslararası geçerliliğe sahip sertifikasyonlarına sahip olarak, tüm dünyada tercih edilen nitelikli profesyonellerden biri de siz olabilirsiniz.
    </div>
</main>