@{
    ViewBag.Title = "HAKKIMIZDA";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <div>
        “Stil sahibi olmak için buradayız.”
        <br /><br />
        Eğitimler sadece teori içermez. İş hayatından çokça yaşanmış örnek vakalar üzerinden sonuç almaya, yetenek geliştirmeye ve deneyimi artırmaya yöneliktir.
        <br /><br />
        
    </div>
</main>